 {% extends 'includes/base-items.html' %}

 {% load staticfiles %}


{% block mainpart %}

 <div class="main">
        <section id="about_us">
            <div class="container py-3">
                <div class="p-4">
                    <div class="about_title">
                        <h1> Contact Us</h1>
                    </div>
                    <div class="about_description">
                        <h4>Rated Redx is an exclusive enertainment agency. <br>RR is an xperience!</h4>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col mx-3 p-3">
                        <div class="col outline_div side_banner dark-bg p-3 py-4">
                            <div class="container mt-3">
                                <div class="services_title">
                                    <h3>Event Management</h3>
                                </div>
                                <div class="services_description">
                                    <p>We organize and host events</p>
                                    <a href="https://twitter.com/intent/tweet?screen_name=RedXperience&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @RedXperience</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </div>
                            </div>
                            <div class="container">
                                <div class="social_media_links">
                                    <p>Find us on Social media</p>
                                    <ul>
                                        <li><a href="https://www.instagram.com/red.xperience/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://twitter.com/RedXperience"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UC58t1zIl9K8oFNoiyCTH56w?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mx-3 p-3">
                        <div class="col outline_div side_banner dark-bg p-3 py-4">
                            <div class="container mt-3">
                                <div class="services_title">
                                    <h3>Talent Management</h3>
                                </div>
                                <div class="services_description">
                                    <p>Talent management agency</p>
                                    <a href="https://twitter.com/RedXperience?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @RedXperience</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </div>
                            </div>
                            <div class="container">
                                <div class="social_media_links">
                                    <p>Find us on Social media</p>
                                    <ul>
                                        <li><a href="https://www.instagram.com/red.xperience/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://twitter.com/RedXperience"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UC58t1zIl9K8oFNoiyCTH56w?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mx-3 p-3">
                        <div class="col outline_div side_banner dark-bg p-3 py-4">
                            <div class="container mt-3">
                                <div class="services_title">
                                    <h3>Redx Merchandise</h3>
                                </div>
                                <div class="services_description">
                                    <p>Get Exclusive Redx Merchandise</p>
                                    <a href="https://twitter.com/intent/tweet?button_hashtag=RedXperience&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #RedXperience</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </div>
                            </div>
                            <div class="container">
                                <div class="social_media_links">
                                    <p>Find us on Social media</p>
                                    <ul>
                                        <li><a href="https://www.instagram.com/red.xperience/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://twitter.com/RedXperience"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UC58t1zIl9K8oFNoiyCTH56w?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </section>

        <!-- FOOTER BEGIN -->

        <!-- FOOTER END -->
    </div>

{% endblock %}