<!DOCTYPE html>

<html lang="en">


<head>

    <!-- Html Page Specific -->
    <meta charset="utf-8">
    <title>REDx Kiosk</title>
    <meta name="description" content="RED provides customized, strategic event experiences where guests connect with our clients’ brands and products in ways that are personally relevant and memorable.">
    <meta name="author" content="PRISM Africa | prism-afrika.com">

    <!-- Mobile Specific -->
    <meta name="Add To Cartport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!--[if lt IE 9]>
    <script type="text/javascript" src="scripts/html5shiv.js"></script>
<![endif]-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="css/blog.css" />
    <link rel="stylesheet" href="css/custom.css" />

    <!--Font Awesome-->
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Favicons -->
</head>

<body>

    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="navbar-brand float-left" href="index.html">
                        <img src="images/logo-2.png" width="150px" class="d-inline-block " alt="ratedred logo">
                    </a>
                </div>
                <div class="col-4 text-center d-none d-sm-block">
                    <a class="text-dark" href="#"><strong>REDX KIOSK</strong></a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center d-none d-sm-block">
                    <a class="text-muted" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3">
                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                        </svg>
                    </a>
                    <a class="btn btn-outline-dark" href="#"><i class="fa fa-shopping-cart"></i> View Cart</a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2 dark-bg">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 " href="#">REDx Events</a>
                <a class="p-2 " href="#">Redx Talents</a>
                <a class="p-2 " href="#">Fashion</a>
                <a class="p-2 " href="#">Trending</a>
                <a class="p-2 " href="#">Wrist wear</a>
                <a class="p-2 " href="#">Ankara</a>
                <a class="p-2 " href="#">Bags</a>
                <a class="p-2 " href="#">Shoes</a>
                <a class="p-2 " href="#">Contact Us</a>
            </nav>
        </div>


        <div class="jumbotron bg-1 p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-12 px-0 my-4">
                <h1 class="display-4 font-italic">Get Trendy Redx Merchandise</h1>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Subscribe to Get Xclusive deals</a></p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-theme">Fashion</strong>
                        <h3 class="mb-0">
                            <a class="text-light" href="#">Summer Fest</a>
                        </h3>
                        <div class="mb-1">Jun 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#">See product details</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="" style="width: 200px; height: 250px;" src="images/Talents/models/banner2.jpg" data-holder-rendered="true">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-theme">Events</strong>
                        <h3 class="mb-0">
                            <a class="text-light" href="#">#WYS Festival</a>
                        </h3>
                        <div class="mb-1 ">Dec 15</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#">See product details</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="images/events/no_limit.jpg" data-holder-rendered="true" style="width: 200px; height: 250px;">
                </div>
            </div>
        </div>
    </div>

    <main role="main">
        <div class="container">
            <div class="row">
                <div class="container_inner default_template_holder clearfix page_container_inner">
                    <div class="vc_row wpb_row section vc_row-fluid" style=" margin-top: 20px; padding-top:30px; text-align:left;">
                        <div class=" full_section_inner clearfix">
                            <div class="vc_col-sm-12 wpb_column vc_column_container">
                                <div class="wpb_wrapper">
                                    <div class="projects_holder_outer v3 portfolio_with_space portfolio_standard ">
                                        <div class="filter_outer">
                                            <div class="filter_holder">
                                                <ul>
                                                    <li class="filter active current" data-filter="top-selling"><span>Top Selling</span></li>
                                                    <li class="filter" data-filter="portfolio_category_17"><span>Trends</span></li>
                                                    <li class="filter" data-filter="portfolio_category_2"><span>REDx Picks</span></li>
                                                    <li class="filter" data-filter="portfolio_category_5"><span>Best Deals</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="projects_holder clearfix v3 standard">
                                            <article class="mix portfolio_category_17 portfolio_category_5  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-stockholm-fashion-destination-last-iceland-sunshine.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="Kanaka Fashion" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-stockholm-fashion-destination-last-iceland-sunshine.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">Kanaka Fashion</a></h5><span class="project_price"><span class="currency">Ksh</span> 139</span>
                                                </div>
                                            </article>
                                            <article class="mix portfolio_category_17 portfolio_category_2  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-design-of-total-mechanics-berlin-design-week-poster.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="Nairobae Design Week" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-design-of-total-mechanics-berlin-design-week-poster.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">Nairobae Design Week</a></h5><span class="project_price"><span class="currency">Ksh</span> 399</span>
                                                </div>
                                            </article>
                                            <article class="mix portfolio_category_2  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-stv-music-awards-2013-venice-art-pavilion.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="Venice Art Pavilion" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-stv-music-awards-2013-venice-art-pavilion.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">Venice Art Pavilion</a></h5><span class="project_price"><span class="currency">Ksh</span> 399</span>
                                                </div>
                                            </article>
                                            <article class="mix portfolio_category_2  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-vimeo-fx-showreel-abstract-style-of-handler.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="Vimeo FX Showreel" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-vimeo-fx-showreel-abstract-style-of-handler.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">Vimeo FX Showreel</a></h5><span class="project_price"><span class="currency">Ksh</span> 399</span>
                                                </div>
                                            </article>
                                            <article class="mix portfolio_category_2 portfolio_category_5  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-der-spiegel-cover-art-luv-deluxe-3000.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="Der Spiegel Cover Art" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-der-spiegel-cover-art-luv-deluxe-3000.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">Der Spiegel Cover Art</a></h5><span class="project_price"><span class="currency">Ksh</span> 139</span>
                                                </div>
                                            </article>
                                            <article class="mix portfolio_category_17 portfolio_category_2  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-art-design-blvd-amsterdam-jazz-festival.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="Art & Design Blvd" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-art-design-blvd-amsterdam-jazz-festival.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">Art & Design Blvd</a></h5><span class="project_price"><span class="currency">Ksh</span> 399</span>
                                                </div>
                                            </article>
                                            <article class="mix portfolio_category_2 portfolio_category_5  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-video-performance-festival-2014-mother-volcano-artwork.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="Festival 2014" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-video-performance-festival-2014-mother-volcano-artwork.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">Festival 2014</a></h5><span class="project_price"><span class="currency">Ksh</span> 139</span>
                                                </div>
                                            </article>
                                            <article class="mix portfolio_category_2  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-smash-pop-art-storm-superdollz-showroom.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="Smash Pop Art Storm" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-smash-pop-art-storm-superdollz-showroom.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">Smash Pop Art Storm</a></h5><span class="project_price"><span class="currency">Ksh</span> 399</span>
                                                </div>
                                            </article>
                                            <article class="mix portfolio_category_2  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-adventures-in-zonderland-67b-construction-studio.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="Adventures in Zonderland" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-adventures-in-zonderland-67b-construction-studio.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">Adventures in Zonderland</a></h5><span class="project_price"><span class="currency">Ksh</span> 399</span>
                                                </div>
                                            </article>
                                            <article class="mix portfolio_category_5  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-stv-music-awards-2013-venice-art-pavilion.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="STV Music Awards 2013" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-stv-music-awards-2013-venice-art-pavilion.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">STV Music Awards 2013</a></h5><span class="project_price"><span class="currency">Ksh</span> 139</span>
                                                </div>
                                            </article>
                                            <article class="mix portfolio_category_17 portfolio_category_5  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-pale-skin-apparel-fast-vector-mobile.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="Pale Skin Apparel" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-pale-skin-apparel-fast-vector-mobile.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">Pale Skin Apparel</a></h5><span class="project_price"><span class="currency">Ksh</span> 139</span>
                                                </div>
                                            </article>
                                            <article class="mix portfolio_category_17  mix_all" style="display: inline-block; opacity: 1;">
                                                <div class="image_holder"><a class="portfolio_link_for_touch" href="product-expand.html" target="_self"><span class="image"><img width="1100" height="825" src="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-clash-mayhem-tv-vintage-vinyl-house.jpg" class="attachment-full wp-post-image" alt="qode interactive strata"></span></a><span class="text_holder"><span class="text_outer"><span class="text_inner"><span class="feature_holder"><span class="feature_holder_icons"><a class="lightbox qbutton small white" title="Clash & Mayhem TV" href="http://demo.qodeinteractive.com/bridge/wp-content/uploads/2013/10/p-clash-mayhem-tv-vintage-vinyl-house.jpg" data-rel="prettyPhoto[pretty_photo_gallery]" rel="prettyPhoto[pretty_photo_gallery]">zoom</a><a class="preview qbutton small white" href="product-expand.html" target="_self">view</a></span></span></span></span></span></div>
                                                <div class="portfolio_description ">
                                                    <h5 class="portfolio_title"><a href="product-expand.html" target="_self">Clash & Mayhem TV</a></h5><span class="project_price"><span class="currency">Ksh</span> 399</span>
                                                </div>
                                            </article>
                                            <div class="filler"></div>
                                            <div class="filler"></div>
                                            <div class="filler"></div>
                                        </div>
                                        <div class="portfolio_paging"><span rel="2" class="load_more"><a href="#">Show more</a></span></div>
                                        <div class="portfolio_paging_loading"><a href="javascript: void(0)" class="qbutton">Loading...</a></div>
                                    </div>
                                    <div class="separator  transparent center  " style="margin-top: 20px;margin-bottom: 20px;"></div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div><!-- /.row -->

    </main><!-- /.container -->

    <a class="top" href="#"><i class="fa fa-arrow-up"></i></a>

    <!-- FOOTER BEGIN -->
    <footer>
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3 d-none d-sm-block">
                        <div class="container-fluid">
                            <div class="row">
                                <a class="footer-logo" href="index.html"></a>
                                <div class="container-fluid footer-bio">
                                    <p>&copy; 2018 Rated Redx All rights reserved<a href="http://www.prism-afrika.com">&nbsp;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="site-map">
                            <h5>Sitemap</h5>
                            <ul>
                                <li><a href="">About Us</a></li>
                                <li><a href="events.html">Featured Events</a></li>
                                <li><a href="">Our Services</a></li>
                                <li><a href="">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col d-none d-sm-block">
                        <div class="site-map">
                            <h5>Quick Links</h5>
                            <ul>
                                <li><a href="sign-up.html">Talent Management</a></li>
                                <li><a href="sign-up.html">Get Access</a></li>
                                <li><a href="sign-up.html">Redx Merchandise</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col address site-map d-none d-sm-block">
                        <h5>Contact</h5>
                        <address>
                            RATED REDXperience <br>
                            Nairobi, Kenya<br>
                            <span><i class="fa fa-phone"></i> +(254) 715 463 132<br></span>
                            <span><i class="fa fa-envelope"></i> <a href="mailto:ratedred@gmail.com">ratedredx@gmail.com</a><br></span>
                        </address>
                    </div>
                    <div class="col">
                        <div class="site-map newsletter">
                            <h5>Newsletter</h5>
                            <form>
                                <input classs="input" type="email" placeholder="Enter Email Address">
                                <button class="btn btn-dark">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container justify-content-center">
                <div class="row">
                    <ul class="col col-6">
                        <li><span>&copy; 2018 RATED RED </span></li>
                        <li class="d-none d-sm-block"><a href="index.html">Home</a></li>
                        <li class="d-none d-sm-block"><a href="events.html">Events</a></li>
                        <li class="d-none d-sm-block"><a href="gallery.html">Kiosk</a></li>
                        <li class="d-none d-sm-block"><a href="contacts.html">Contacts</a></li>
                    </ul>
                    <ul class="col col-6 sign justify-content-end">
                        <li><span>Powered By <a href="www.prism-africa.com"> <img class="d-inline-flex" height: 40px; src="images/partners/prism_africa.png" alt-PRISM Africa></a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>


    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
        <defs>
            <style type="text/css"></style>
        </defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text>
    </svg>
</body>

</html>