{% extends 'includes/base-items.html' %}

{% load staticfiles %}


{% block mainpart %}



<div class="main">
        <section id="about_us">
            <div class="container py-3">
                <div class="p-4">
                    <div class="about_title">
                        <h1><span>About Us:</span> Our Services</h1>
                    </div>
                    <div class="about_description">
                        <h4>Rated Redx is an exclusive enertainment agency. <br>RR is an xperience!</h4>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col mx-3 p-3">
                        <div class="col outline_div side_banner dark-bg p-3 py-4">
                            <div class="container mt-3">
                                <div class="services_title">
                                    <h3>Event Management</h3>
                                </div>
                                <div class="services_description">
                                    <p>We organize and host events</p>
                                    <ul>
                                        <li class="">Event Organization</li>
                                        <li class="">Host VIP Events</li>
                                        <li class="">&#35;WYS Festival</li>
                                        <li class=""></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="container">
                                <div class="social_media_links">
                                    <p>Find us on Social media</p>
                                    <ul>
                                        <li><a href="https://www.instagram.com/red.xperience/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://twitter.com/RedXperience"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UC58t1zIl9K8oFNoiyCTH56w?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mx-3 p-3">
                        <div class="col outline_div side_banner dark-bg p-3 py-4">
                            <div class="container mt-3">
                                <div class="services_title">
                                    <h3>Talent Management</h3>
                                </div>
                                <div class="services_description">
                                    <p>Talent management agency</p>
                                    <ul>
                                        <li class="">Manage Social Personalities</li>
                                        <li class="">Find &amp; Book Talents</li>
                                        <li class="">Model Agency</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="container">
                                <div class="social_media_links">
                                    <p>Find us on Social media</p>
                                    <ul>
                                        <li><a href="https://www.instagram.com/red.xperience/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://twitter.com/RedXperience"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UC58t1zIl9K8oFNoiyCTH56w?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mx-3 p-3">
                        <div class="col outline_div side_banner dark-bg p-3 py-4">
                            <div class="container mt-3">
                                <div class="services_title">
                                    <h3>Redx Merchandise</h3>
                                </div>
                                <div class="services_description">
                                    <p>Get Exclusive Redx Merchandise</p>
                                    <ul>
                                        <li class="">Buy<a href="kiosk.html"> Redx Merchandise</a> </li>
                                        <li class="">Trendy Fashion</li>
                                        <li class="">Art &amp; Footware</li>
                                        <li class=""></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="container">
                                <div class="social_media_links">
                                    <p>Find us on Social media</p>
                                    <ul>
                                        <li><a href="https://www.instagram.com/red.xperience/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://twitter.com/RedXperience"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UC58t1zIl9K8oFNoiyCTH56w?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER BEGIN -->
       
        <!-- FOOTER END -->
    </div>
    {% endblock %}


